<link rel = "stylesheet" type = "text/css" href = "/stylesheets/navigation.css" />
<div class="nav">
    <ul>
        <li><a href="<%= root_url %>">Home</a></li>
            <% if logged_in?%>
                <%if !current_user%>
                    <li><a  href="/genres">Genres</a></li>
                    <li><a  href="/wishlist/<%=current_user%>">Cart</a></li>
                <% elsif current_user.admin %>
                    <li><a  href="/genres">Genres</a></li>                  
                <% else %>
                    <li><a  href="/genres">Genres</a></li>
                    <li><a  href="/wishlist/<%=current_user%>">Cart</a></li>
                <%end%>


                <li><a rel="nofollow" data-method="delete" href="/logout">Log Out</a> </li>
                
            <% else%>
                <li><a  href="/signup">Sign Up</a></li>
                <li><a  href="/signin">Log in</a></li>
            <% end%>
    </ul>
</div>



    

    





    
    
